.invalid-input:focus,
.invalid-input {
    border-color: var(--vz-form-invalid-border-color) !important;
    padding-right: calc(1.5em + 1rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23f06548'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23f06548' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .25rem) center;
    background-size: calc(.75em + .5rem) calc(.75em + .5rem);
}

.valid-input:focus,
.valid-input {
    border-color: var(--vz-form-valid-border-color) !important;
    padding-right: calc(1.5em + 1rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%230ab39c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .25rem) center;
    background-size: calc(.75em + .5rem) calc(.75em + .5rem);
}

.validation-error {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--vz-form-invalid-color);
}

.linkHrefRoute {
    color: black;
    background-color: #f3d0f2;
    padding: 0 5px;
    border-radius: var(--border-radios);
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
        background-color: #c997c7;
    }
}


.common-form {}

.common-form .form-label {
    margin-bottom: .2rem;
}


.menuTitle {
    width: 100%;
}

.navItem {
    width: 100%;
}

:root {
    --border-radios: 0.25rem;
    --vz-nav-orderable-type-bg: rgb(252, 215, 168);
    --vz-nav-orderable-type-br: rgb(134, 93, 39);
    --vz-nav-orderable-main-bg: rgb(192, 252, 168);
    --vz-nav-orderable-main-br: rgb(56, 107, 35);
    --vz-nav-orderable-sub-bg: rgb(168, 252, 252);
    --vz-nav-orderable-sub-br: rgb(33, 110, 110);
    --vz-nav-orderable-nested-bg: rgb(225, 206, 255);
    --vz-nav-orderable-nested-br: rgb(61, 33, 105);
    --vz-nav-orderable-allNav-bs: #00000094;
    --vz-nav-orderable-allNav-bg: #ffffff7d;
    --vz-td-contentSub-bg: #f9f9f9;
    --vz-td-filterSub-bs: #bfbfbf;
    --vz-modal-header-bg: #c8fcff;
    --vz-modal-body-bg: #ececec;
    --vz-modal-footer-bg: #ffd1fc;
    --vz-modal-content-bs: #424242;
    --vz-info-detail-bg: rgb(249 248 248);
    --vz-info-accessSet-bg: #eeeeee;
    --vz-td-action-bg-1: #dde7f8;
    --vz-td-action-bg-2: #defbff;
    --vz-td-inner-hover-bg: #d3ec76;
    --vz-select2-bg: #fff;
    --vz-select2-br: #aaa;
    --vz-dataTable-bg: #8af3ff;
    --vz-dataTable-br: #4ea0d5;
    --vz-topNavBar-bg: #003264;
    --vz-mainPageContent-cardHeader-bg: #c1f7ff;
    --vz-ulNavList-bg: rgb(193 247 255);
    --vz-ulNavList-buttonNotActive-bg: #e3e3e9;
    --vz-ulNavList-buttonActive-bg: #c1f7ff;
    --vz-ulNavList-button-col: rgb(43 127 137);
    --vz-ulNavList-buttonHover-bg: rgb(197 197 197);
    --vz-variable-bg: #e9e9e9;
}

[data-bs-theme=dark] {
    --vz-nav-orderable-type-bg: #32373a;
    --vz-nav-orderable-type-br: rgb(134, 93, 39);
    --vz-nav-orderable-main-bg: #2b3034;
    --vz-nav-orderable-main-br: rgb(56, 107, 35);
    --vz-nav-orderable-sub-bg: #222528;
    --vz-nav-orderable-sub-br: rgb(33, 110, 110);
    --vz-nav-orderable-nested-bg: #1a1d21;
    --vz-nav-orderable-nested-br: rgb(61, 33, 105);
    --vz-nav-orderable-allNav-bs: #000000cf;
    --vz-nav-orderable-allNav-bg: #1c1b1cb0;
    --vz-td-contentSub-bg: #1b1c20;
    --vz-td-filterSub-bs: #15161a;
    --vz-modal-header-bg: #2b2d32;
    --vz-modal-body-bg: #191a1c;
    --vz-modal-footer-bg: #2b2d32;
    --vz-modal-content-bs: #000000;
    --vz-info-detail-bg: #2c2d30;
    --vz-info-accessSet-bg: #1d1d20;
    --vz-td-action-bg-1: #2b2f36;
    --vz-td-action-bg-2: #26282c;
    --vz-td-inner-hover-bg: #1f1f20;
    --vz-select2-bg: #262a2f;
    --vz-select2-br: #131314;
    --vz-variable-bg: #3b3b40;
    --vz-dataTable-bg: #14141a;
    --vz-dataTable-br: #373742;
    --vz-topNavBar-bg: #292e32;
    --vz-mainPageContent-cardHeader-bg: #292e32;
    --vz-ulNavList-bg: rgb(41 46 50);
    --vz-ulNavList-buttonNotActive-bg: #5e5e5e;
    --vz-ulNavList-buttonActive-bg: #292e32;
    --vz-ulNavList-button-col: rgb(58 206 223);
    --vz-ulNavList-buttonHover-bg: rgb(197 197 197);
}


#layout-wrapper {
    #container-fluid-inside {
        .modal-dialog {
            .modal-content {
                border-color: black;
                box-shadow: 0px 11px 21px -5px var(--vz-modal-content-bs);

                .modal-header {
                    background-color: var(--vz-modal-header-bg);

                    .btn-outline-danger {
                        border-radius: 100%;
                    }
                }

                .modal-body {
                    background-color: var(--vz-modal-body-bg);
                }

                .modal-footer {
                    background-color: var(--vz-modal-footer-bg);
                }
            }
        }

        .main-page-content {
            .cardHeader {
                background-color: var(--vz-mainPageContent-cardHeader-bg);
            }

            .cardBody {
                position: relative;

                .tdFilterMain {
                    display: none;

                    .tdFilterSub {
                        box-shadow: inset 0 0px 10px var(--vz-td-filterSub-bs);
                        padding: 15px;
                        border-radius: var(--border-radios);

                        .row {}
                    }
                }

                .tdFilterForm {
                    border-radius: var(--border-radios);
                    background-color: #00000036;
                }

                .formElementMain {
                    .formElementSub {
                        .cardForm {
                            height: 100%;
                            margin-bottom: 0;
                        }
                    }
                }

                .detailElementMain {
                    &:hover {
                        .cardBody {
                            background-color: red;
                        }
                    }

                    .detailElementSub {
                        .cardForm {
                            height: 100%;
                            margin-bottom: 0;
                        }

                        .profile-foreground {
                            margin-right: -1.00rem;
                            margin-left: -1.00rem;
                            margin-top: -17px !important;

                            .profile-wid-bg {
                                height: 280px;
                            }

                            @media (max-width:991px) {
                                .profile-wid-bg {
                                    height: 282px
                                }
                            }

                            @media (max-width:448px) {
                                .profile-wid-bg {
                                    height: 355px
                                }
                            }
                        }
                    }
                }

                .tdContentMain {
                    .tdContentSub {
                        background-color: var(--vz-td-contentSub-bg);
                        padding: 10px 0;
                        border-radius: var(--border-radios);

                        .tdAction {
                            padding: 5px;
                            background-image: linear-gradient(0deg, var(--vz-td-action-bg-2) 0%, var(--vz-td-action-bg-1) 100%);
                            border-radius: var(--border-radios);
                            max-width: max-content;
                            position: relative;
                            transition: 0.30s ease-in-out;

                            .tdActionButton {
                                display: flex;
                                flex-direction: row;
                                gap: 7px;

                                .tdActionButtonCommon {
                                    a {
                                        border-radius: 10%;
                                        width: 30px;
                                        height: 30px;
                                        padding: 0;
                                        display: flex;
                                        justify-content: center;

                                        i {
                                            font-size: 18px;
                                            align-self: center;
                                        }
                                    }
                                }

                                .tdActionButtonStatus {
                                    a {
                                        i {}
                                    }
                                }

                                .tdActionButtonEdit {
                                    a {
                                        i {}
                                    }
                                }

                                .tdActionButtonDelete {
                                    a {
                                        i {}
                                    }
                                }

                                .tdActionButtonInfo {
                                    a {
                                        i {}
                                    }
                                }

                                .tdActionButtonDetails {
                                    a {
                                        i {}
                                    }
                                }

                                .tdActionButtonToggle {
                                    a {
                                        i {}
                                    }
                                }
                            }

                            .tdActionInner {
                                position: absolute;
                                top: 60px;
                                left: 0;
                                opacity: 0;
                                width: 100%;
                                height: auto;
                                z-index: 4;
                                background-color: var(--vz-td-action-bg-2);
                                transition: 0.30s ease-in-out;
                                pointer-events: none;
                                display: flex;
                                flex-direction: column;
                                gap: 7px;
                                padding: 10px;
                                border-bottom-left-radius: 0.25rem;
                                border-bottom-right-radius: 0.25rem;

                                .tdActionInnerCommon {
                                    a {
                                        display: flex;
                                        flex-direction: row;
                                        padding: 5px;
                                        transition: 0.30s ease-in-out;
                                        border-radius: var(--border-radios);
                                        text-align: left;
                                        gap: 8px;

                                        &:hover {
                                            cursor: pointer;
                                            background-color: var(--vz-td-inner-hover-bg);
                                        }

                                        i {
                                            font-size: 16px;
                                        }

                                        span {
                                            font-size: 13px;
                                            align-self: center;
                                        }
                                    }
                                }
                            }
                        }

                        .dtMultiData {
                            .dtMultiDataContent {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                gap: 5px;

                                .dtMultiDataCommon {
                                    display: flex;
                                    flex-direction: row;

                                    label {
                                        font-weight: bold;
                                        padding: 0;
                                        margin: 0;
                                    }

                                    span {
                                        margin-left: 5px;
                                        line-height: 12px;
                                    }
                                }

                                .dtMultiDataStatus {
                                    label {}

                                    span {}
                                }

                                .dtMultiDataAccess {
                                    label {
                                        margin-right: 5px;
                                    }

                                    span {}
                                }
                            }
                        }

                        .navPermissionMain {
                            .navPermissionSub {
                                .npMainRole {
                                    position: relative;
                                    overflow: hidden;
                                    padding: 10px;

                                    .npGo {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        background-color: #00000087;
                                        width: 100%;
                                        height: 100%;
                                        z-index: 1;
                                        backdrop-filter: blur(2px);

                                        span {
                                            position: absolute;
                                            top: 60px;
                                            left: 50%;
                                            padding: 5px 10px;
                                            cursor: pointer;
                                            transform: translate(-50%, -0%);
                                            background: hsla(233, 100%, 90%, 1);
                                            background: linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
                                        }
                                    }

                                    .npHead {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        margin-bottom: 15px;

                                        .nphLeft {
                                            span {}
                                        }

                                        .nphRight {
                                            display: flex;
                                            flex-direction: column;

                                            .nphrTop {}

                                            .nphrBottom {
                                                display: flex;
                                                flex-direction: row;

                                                span {
                                                    border-top-right-radius: 0;
                                                    border-bottom-right-radius: 0;
                                                }

                                                button {
                                                    border-top-left-radius: 0;
                                                    border-bottom-left-radius: 0;
                                                }
                                            }
                                        }
                                    }

                                    .npBody {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 10px;

                                        .npbType {
                                            display: flex;
                                            flex-direction: column;
                                            gap: 10px;
                                            background-color: var(--vz-nav-orderable-type-bg);
                                            // border: 2px solid var(--vz-nav-orderable-type-br);
                                            box-shadow: inset 0 0 10px gray;
                                            padding: 10px;
                                            border-radius: var(--border-radios);

                                            .npbMain {
                                                display: flex;
                                                flex-direction: column;
                                                gap: 10px;
                                                background-color: var(--vz-nav-orderable-main-bg);
                                                // border: 2px solid var(--vz-nav-orderable-main-br);
                                                box-shadow: inset 0 0 10px gray;
                                                padding: 10px;
                                                border-radius: var(--border-radios);

                                                .npbSub {
                                                    display: flex;
                                                    flex-direction: column;
                                                    gap: 10px;
                                                    background-color: var(--vz-nav-orderable-sub-bg);
                                                    // border: 2px solid var(--vz-nav-orderable-sub-br);
                                                    box-shadow: inset 0 0 10px gray;
                                                    padding: 10px;
                                                    border-radius: var(--border-radios);

                                                    .npbNested {
                                                        display: flex;
                                                        flex-direction: column;
                                                        gap: 10px;
                                                        background-color: var(--vz-nav-orderable-nested-bg);
                                                        // border: 2px solid var(--vz-nav-orderable-nested-br);
                                                        box-shadow: inset 0 0 10px gray;
                                                        padding: 10px;
                                                        border-radius: var(--border-radios);
                                                    }
                                                }
                                            }
                                        }

                                        .npbHeading {

                                            .npbhLeft {
                                                span {
                                                    font-weight: 500;
                                                    font-size: 15px;
                                                    color: #0000009c;
                                                }
                                            }

                                            .npbhRight {
                                                .npbCheckCommon {
                                                    display: flex;
                                                    flex-direction: row;
                                                    gap: 17px;
                                                    justify-content: space-between;
                                                    flex-wrap: wrap;
                                                    margin-top: 10px;

                                                    .npbCheckNoAccess {
                                                        padding: 8px;
                                                        border-radius: var(--border-radios);
                                                        background-color: rgb(116, 220, 238);

                                                        span {}
                                                    }

                                                    .npbCheckYesAccess {
                                                        display: flex;
                                                        flex-direction: column;
                                                        gap: 10px;
                                                        padding: 8px;
                                                        border-radius: var(--border-radios);
                                                        background-color: rgb(223, 223, 223);
                                                        box-shadow: 0 0 5px #acacac;
                                                        max-width: 95px;
                                                        width: 100%;

                                                        .npbcHeading {
                                                            span {
                                                                text-align: center;
                                                                display: block;
                                                                text-transform: capitalize;
                                                                font-weight: bold;
                                                                font-size: 12px;
                                                            }
                                                        }

                                                        .npbcbInput {
                                                            input {}

                                                            span {
                                                                font-size: 20px;
                                                                text-align: center;
                                                                display: block;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .npFoot {
                                        .npfLeft {}

                                        .npfRight {
                                            button {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .navOrderable {
                    .no_listMain {

                        .no_listSub {
                            .navTypeInner {
                                flex-direction: row;
                                flex-wrap: wrap;

                                .navTypeList {
                                    background-color: var(--vz-nav-orderable-type-bg);
                                    border: 2px solid var(--vz-nav-orderable-type-br);

                                    .navTypeHeading {
                                        .navHeadingTop {
                                            i {}
                                        }

                                        .navHeadingBottom {
                                            span {
                                                &:first-child {}

                                                &:last-child {}
                                            }
                                        }
                                    }

                                    .mainNavInner {
                                        flex-direction: row;
                                        flex-wrap: wrap;

                                        .mainNavList {
                                            background-color: var(--vz-nav-orderable-main-bg);
                                            border: 2px solid var(--vz-nav-orderable-main-br);

                                            .mainNavHeading {
                                                .navHeadingTop {
                                                    i {}
                                                }

                                                .navHeadingBottom {
                                                    span {
                                                        &:first-child {}

                                                        &:last-child {}
                                                    }
                                                }
                                            }

                                            .subNavInner {
                                                flex-direction: row;
                                                flex-wrap: wrap;

                                                .subNavList {
                                                    background-color: var(--vz-nav-orderable-sub-bg);
                                                    border: 2px solid var(--vz-nav-orderable-sub-br);

                                                    .subNavHeading {
                                                        .navHeadingTop {
                                                            i {}
                                                        }

                                                        .navHeadingBottom {
                                                            span {
                                                                &:first-child {}

                                                                &:last-child {}
                                                            }
                                                        }
                                                    }

                                                    .nestedNavInner {
                                                        flex-direction: row;
                                                        flex-wrap: wrap;

                                                        .nestedNavList {
                                                            background-color: var(--vz-nav-orderable-nested-bg);
                                                            border: 2px solid var(--vz-nav-orderable-nested-br);

                                                            .nestedNavHeading {
                                                                .navHeadingTop {
                                                                    i {}
                                                                }

                                                                .navHeadingBottom {
                                                                    span {
                                                                        &:first-child {}

                                                                        &:last-child {}
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .commonNavHeading {
                                        display: flex;
                                        flex-direction: row;
                                        gap: 10px;
                                        margin-bottom: 10px;
                                        border-radius: var(--border-radios);
                                        padding: 5px;

                                        &:last-child {
                                            margin: 0;
                                        }

                                        .navHeadingTop {
                                            align-self: center;

                                            i {
                                                font-size: 20px;
                                            }
                                        }

                                        .navHeadingBottom {
                                            display: flex;
                                            flex-direction: column;
                                            gap: 3px;

                                            span {
                                                display: block;

                                                &:first-child {
                                                    font-weight: bold;
                                                }

                                                &:last-child {
                                                    font-size: 12px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .allNavCommon {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                padding: 10px;
                                border-radius: var(--border-radios);
                                margin: 0 15px 15px 15px;
                                box-shadow: inset 0 0 10px var(--vz-nav-orderable-allNav-bs);
                                background-color: var(--vz-nav-orderable-allNav-bg);

                                &:first-child {
                                    box-shadow: none;
                                    margin: 0;
                                    padding: 0;
                                    background-color: transparent;
                                }
                            }

                            .navListCommon {
                                border-radius: var(--border-radios);
                            }
                        }
                    }

                    .no_noteMain {
                        .no_noteSub {
                            border-radius: var(--border-radios);

                            .no_noteHeading {}

                            .no_noteBody {
                                .no_noteCommon {
                                    padding: 8px;
                                    border-radius: var(--border-radios);

                                    .no_noteText {
                                        display: flex;

                                        .no_colorType {
                                            width: 15px;
                                            height: 15px;
                                            margin: 2px 5px 0 5px;
                                            display: block;
                                            background-color: var(--vz-nav-orderable-type-bg);
                                            border: 2px solid var(--vz-nav-orderable-type-br);
                                        }

                                        .no_colorMain {
                                            width: 15px;
                                            height: 15px;
                                            margin: 2px 5px 0 5px;
                                            display: block;
                                            background-color: var(--vz-nav-orderable-main-bg);
                                            border: 2px solid var(--vz-nav-orderable-main-br);
                                        }

                                        .no_colorSub {
                                            width: 15px;
                                            height: 15px;
                                            margin: 2px 5px 0 5px;
                                            display: block;
                                            background-color: var(--vz-nav-orderable-sub-bg);
                                            border: 2px solid var(--vz-nav-orderable-sub-br);
                                        }

                                        .no_colorNested {
                                            width: 15px;
                                            height: 15px;
                                            margin: 2px 5px 0 5px;
                                            display: block;
                                            background-color: var(--vz-nav-orderable-nested-bg);
                                            border: 2px solid var(--vz-nav-orderable-nested-br);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .cardBodyTab {
                .ulNavList {
                    justify-content: center;

                    .nav-link {
                        color: var(--vz-ulNavList-button-col);

                        &:not(.active) {
                            &:hover {
                                background-color: var(--vz-ulNavList-buttonHover-bg) !important;

                                &::after,
                                &::before {
                                    background-color: var(--vz-ulNavList-buttonHover-bg) !important;
                                }
                            }
                        }

                        &.active {
                            background-color: var(--vz-ulNavList-buttonActive-bg);

                            &::after,
                            &::before {
                                background-color: var(--vz-ulNavList-buttonActive-bg);
                            }
                        }

                        &:not(.active) {
                            background-color: var(--vz-ulNavList-buttonNotActive-bg);

                            &::after,
                            &::before {
                                background-color: var(--vz-ulNavList-buttonNotActive-bg);
                            }
                        }
                    }
                }
            }
        }

        .info-page-data {
            .each-detail-box {
                background-color: var(--vz-info-detail-bg);
                padding: 10px;
                border-radius: var(--border-radios);

                .details-label {
                    font-size: 15px;
                }

                .detail-span {
                    font-size: 12px;
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    flex-wrap: wrap;

                    .accessSet {
                        padding: 5px;
                        background-color: var(--vz-info-accessSet-bg);
                        max-width: fit-content;
                        border-radius: var(--border-radios);
                        text-transform: capitalize;
                    }

                    .variable {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        gap: 10px;

                        span {
                            display: block;
                            padding: 3px 5px;
                            border-radius: var(--border-radios);
                            background-color: var(--vz-variable-bg);
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .con-access-modal {
            .form-element {
                .form-check-label {
                    text-transform: capitalize;
                    user-select: none;
                }
            }
        }

        .select2-container--default .select2-selection--single {
            background-color: var(--vz-select2-bg);
            border: 1px solid var(--vz-select2-br);
        }

        .select2-dropdown {
            background-color: var(--vz-select2-bg) !important;
            border: 1px solid var(--vz-select2-br) !important;
        }

        .dropify-wrapper {
            background-color: var(--vz-select2-bg);
            border: 2px solid var(--vz-select2-br);
        }

        .note-toolbar {
            background-color: var(--vz-select2-bg);
            border-color: var(--vz-select2-br);
        }

        .dataTable {
            border: 2px solid var(--vz-dataTable-br);
            border-radius: var(--border-radios);
            overflow: hidden;

            thead {
                background-color: var(--vz-dataTable-bg);

                tr {
                    th {
                        border-color: var(--vz-dataTable-br);
                        border: none;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        border-color: var(--vz-dataTable-br);
                        border: none;
                    }
                }
            }

            tfoot {
                background-color: var(--vz-dataTable-bg);

                tr {
                    th {
                        border-color: var(--vz-dataTable-br);
                        border: none;
                    }
                }
            }
        }

        .profileCover {
            margin-right: -.75rem;
            margin-left: -.75rem;
        }
    }

    #page-topbar {
        .layout-width {
            background-color: var(--vz-topNavBar-bg);
        }
    }

    .standbyMain {
        position: absolute;
        z-index: 9999;
        width: 100%;
        height: 100vh;
        background-color: red;
    }
}



/*---- ( Forced Css Apply Start ) ----*/
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    top: 50% !important;
    transform: translate(0%, -50%);
}

.note-editor .note-editable {
    background-color: rgb(247, 232, 205);
}

/*---- ( Forced Css Apply End ) ----*/
